/bin
/build
/node_modules
.gradle
.project
.classpath
.settings
weplantaforest.h2.db
weplantaforest.trace.db
/.idea
.DS_Store

# Don't add processed ui files except the dev related files like HAL-Browser
/src/main/resources/static/webapp
src/main/webapp/npm-debug.log
npm-debug.log*
src/main/resources/application-staging-secret.properties